/* 
* Plugin Name: Authentic Bikes Plugin 
* Plugin URI: http://www.phoenix.sheridanc.on.ca/~ccit3395
* Description: WordPress Plugin Stlying for Authentic Bikes
* Author: Henry Adusei, Nabeel Jamal, Nabeel Shaikh
* Author URI: http://www.phoenix.sheridanc.on.ca/~ccit3395
* Version: 1.0 
*/

.widget_list {
	margin: auto;
	text-align: center;
	list-style: none;
}