/*
Plugin Name: Authentic Plugin
Plugin URI: http://phoenix.sheridanc.on.ca/~ccit3395/
Author: Nabeel Jamal, Nabeel Shaikh, Henry Adusei
Author URI: http://phoenix.sheridanc.on.ca/~ccit3395/
Description: WordPress Plugin Stlying for Authentic Bikes
Version: 1.0.0
*/

.widget_list {
	margin: auto;
	text-align: center;
	list-style: none;
}